<section>
    <div class="container-fluid">
        <div class="row">
            <div class=" rightNavbar">
                <div class="vh-100   text-start">
                    <div class="form-floating pt-5 mt-5">
                        <button type="email" class="form-control text-end pe-2 text-white" id="floatingInput" placeholder="name@example.com">
                           <i class="fa-solid fa-house"></i>
                            الصفحة الرئيسية
   
                        </button>
                      </div>
                 
                </div>
            </div>
        </div>
    </div>
</section>
