<section class="vh-100 bg-white ">
    <div class="container-fluid ">
        <app-navbar></app-navbar>
        <div class="row">
            <div class="col-md-3 rightNavbar">
                <app-right-nav-bar></app-right-nav-bar>
            </div>
            <div class="col-md-9 mt-4 ">
                <div class="  bg-light ">
                    <div class=" pb-5 container ">
                        <section class="mt-5 pt-5 pb-5 sectionOfTable">
                            <div class=" pb-3 ">
                                <div>
                                <h2 class="text">الرئيسية/المستندات</h2>

                                </div>
                              
                            </div>
                            <div class="row">
                                <div class="col-md-7 ">
                                    <div class=" tableOfFiles ">
                                        <div class=" headOfInputs mb-3  pe-3 d-flex justify-content-between pb-3 align-items-center">
                                            <div class="w-50">
                                            <h2 class="filesHeading"> المستندات </h2>
                                            </div>
                                            <div class="d-flex w-50 ps-5 ">
                                              <div class="w-100  text-start">
                                              <button type="button" class="createSubFile ms-2 text-center">انشاء ملف فرعي</button>
                                              <button type="button" class="uploadPages text-center">رفع صفحات</button>
                                              </div>
                                             
                                            </div>
                                        </div>
                                        <div class="ps-3 pe-3 ">
                                            <div class="row g-2">
                                                <div class="col-sm-12">
                                                    <table class="table text-end border-top  ">
                                                        <thead class="">
                                                          <tr>
                                                            <th scope="col" class="tableHeadTr">رقم المستند</th>
                                                            <th scope="col" class="tableHeadTr">الصفحة من </th>
                                                            <th scope="col" class="tableHeadTr">الصفحة الي </th>
                                                            <th scope="col" class="tableHeadTr">ربط الطبقات </th>
                                                            <th scope="col" class="tableHeadTr"> حالة النشر </th>

                                                            <th scope="col" class="tableHeadTr">الإجراء</th>
                                                          </tr>
                                                        </thead>
                                                        <tbody class="tableData">
                                                         
                    
                                                     
                                                       
                                                    
                                                        </tbody>

                                                    
                                                      </table>

                                                      <div class="w-100 text-center p-3">
                                                        <img src="../../assets/Images/tech-page3/Time management-rafiki 1.png" alt="time-management">
                                                        <figcaption class="imgCaption pb-3">
                                                            لم تقم بإضافة أي فهرس
                                                        </figcaption>

                                                        <button class="btnOfCreateSubFile">انشاء ملف فرعي</button>
                                                   
                                                   
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="me-4 ">

                                        <div class="">
                                            <div class="row">

                                                <div class="col-md-12 bg-white ">
                                                    <div class="tableOfFiles">
                                                        <div class="pb-3 pe-3 mb-3 headOfInputs">
                                                            <h2 class="filesHeading"> المستندات </h2>

                                                        </div>
                                                        <div class="pe-4 ps-4">

                                                            <img src="../../assets/Images/tech-processAction/Group 427319123 1.jpg"
                                                                class="w-100" alt="map">
                                                        </div>
                                                    </div>
                                                </div>





                                            </div>




                                        </div>



                                    </div>
                                </div>
                            </div>
                            <section class="tableOfFiles mt-5 ">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="d-flex justify-content-end align-items-center ps-5">
                                                <button type="button" class="archieve">الرجوع</button>
                                                <button type="button" class="SendDocuments"> اعادة التوجيه</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </section>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Open modal for @mdo</button>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@fat">Open modal for @fat</button>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Open modal for @getbootstrap</button>
                            
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">New message</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    <form>
                                      <div class="mb-3">
                                        <label for="recipient-name" class="col-form-label">Recipient:</label>
                                        <input type="text" class="form-control" id="recipient-name">
                                      </div>
                                      <div class="mb-3">
                                        <label for="message-text" class="col-form-label">Message:</label>
                                        <textarea class="form-control" id="message-text"></textarea>
                                      </div>
                                    </form>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Send message</button>
                                  </div>
                                </div>
                              </div>
                            </div>

                        </section>
                    </div>
                </div>

            </div>
        </div>


    </div>


</section>